<h1>Edit employee:</h1>
<%= form_tag "/employees/#{@employee.id}", method: :patch do %>
<div>
  <%= label_tag :input_form_first_name %>
  <%= text_field_tag :input_form_first_name, @employee.first_name %>
</div>
<div>
  <%= label_tag :input_form_last_name %>
  <%= text_field_tag :input_form_last_name, @employee.last_name  %>
</div>
<div>
  <%= label_tag :input_form_email %>
  <%= text_field_tag :input_form_email, @employee.email %>
</div>
<div>
  <%= label_tag :input_form_birthdate %>
  <%= text_field_tag :input_form_birthdate, @employee.birthdate %>
</div>
<div>
  <%= submit_tag "Edit employee" %>
</div>
<% end %>